{% extends 'page--system.html.twig' %}

{% block header %}
  <h1 class="text-2xl leading-snug md:text-3xl md:leading-snug lg:text-4xl lg:leading-snug xl:text-5xl xl:leading-snug">{{ 'Log in'|t }}</h1>
{% endblock %}
