{% extends 'page--user--login.html.twig' %}

{% block header %}
  <h1 class="text-2xl leading-snug md:text-3xl md:leading-snug lg:text-4xl lg:-mt-4 xl:-mt-8 lg:leading-snug xl:text-5xl xl:leading-snug">{{ 'Create new account'|t }}</h1>
{% endblock %}
