{%
  set classes = [
    'block',
    'cursor-pointer',
    'text-gray-700',
    'font-bold',
    'text-sm',
    title_display == 'before' ? 'mb-1',
    title_display == 'after' ? 'inline-block option',
    title_display == 'invisible' ? 'sr-only',
    required ? '--required',
  ]
%}
{% if title is not empty or required -%}
  <label{{ attributes.addClass(classes) }}>{{ title }}</label>
{%- endif %}
