{%
  set classes = [
    'c-form-item__label',
    'block',
    'cursor-pointer',
    'text-gray-700',
    title_display == 'before' ? 'mb-1',
    title_display == 'after' ? 'inline-block option',
    title_display == 'invisible' ? 'sr-only',
    required ? 'c-label--required',
    required ? 'js-form-required',
    required ? 'form-required'
  ]
%}
{% if title is not empty or required -%}
  <label{{ attributes.addClass(classes) }}>{{ title }}</label>
{%- endif %}
