{%
  set classes = [
    'bg-gray-100',
    'max-w-full',
    'border',
    'border-solid',
    'border-gray-300',
    'px-5',
    'py-4'
  ]
%}
<textarea{{ attributes.addClass(classes) }}>{{ value }}</textarea>
{# If wrapping attributes are needed, place textare inside div below #}
{#<div{{ wrapper_attributes }}></div>#}

