{%
  set classes = [
    'c-form-item__input',
    'c-form-item__input--text',
    'c-form-item__input--textarea',
    'bg-gray-100',
    'max-w-full',
    'border border-solid border-gray-300'
  ]
%}
<textarea{{ attributes.addClass(classes) }}>{{ value }}</textarea>
{# If wrapping attributes are needed, place textare inside div below #}
{#<div{{ wrapper_attributes }}></div>#}

