{%
  set classes = [
    'max-w-full',
    'border',
    'border-solid',
    'border-gray-500',
    'p-4',
    'rounded-sm',
    'text-sm',
    'transition',
    'outline-none',
    'focus:outline-none',
    'hover:border-blue-500',
    'focus:border-blue-500',
  ]
%}
<textarea{{ attributes.addClass(classes) }}>{{ value }}</textarea>
{# If wrapping attributes are needed, place textare inside div below #}
{#<div{{ wrapper_attributes }}></div>#}

