<footer class="bg-gray-900 py-12" role="contentinfo">
  <div class="container mx-auto flex flex-col">

    <a class="flex text-white" href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
      <svg class="w-12 h-8 fill-current" viewBox="0 0 512 308" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M217.575 63.5334L217.501 63.8248L217.575 63.5334ZM217.575 63.5334C237.177 68.4247 251.173 82.6213 266.586 98.2548L266.65 98.3191L266.457 98.5065L266.65 98.3197C279.228 111.083 292.773 124.822 311.111 135.376C329.442 145.926 352.575 153.3 384.33 153.3C418.497 153.3 446.231 144.762 467.554 127.714C488.577 110.907 503.4 85.8025 512 52.3713C499.396 68.8589 485.756 80.2589 471.074 86.5479C456.037 92.9888 439.926 94.058 422.755 89.7662C403.149 84.8708 389.133 70.6537 373.704 55.0046L373.68 54.9806L373.896 54.7704L373.68 54.9806C361.102 42.2165 347.557 28.4781 329.219 17.9238C310.888 7.37435 287.755 0 256 0C221.833 0 194.099 8.53724 172.776 25.5853C151.753 42.3931 136.93 67.4972 128.33 100.929C140.934 84.4408 154.574 73.0407 169.256 66.7524C184.293 60.3115 200.403 59.2417 217.575 63.5334ZM245.35 208.881L245.524 208.713L245.35 208.881L245.374 208.905C260.803 224.554 274.819 238.771 294.425 243.667C311.597 247.958 327.707 246.889 342.744 240.448C357.426 234.159 371.066 222.759 383.67 206.272C375.07 239.703 360.247 264.808 339.224 281.615C317.901 298.663 290.167 307.2 256 307.2C224.245 307.2 201.112 299.826 182.781 289.276C164.443 278.722 150.898 264.984 138.32 252.22L138.116 252.418L138.32 252.22L138.296 252.195C122.867 236.546 108.851 222.329 89.245 217.434C72.0736 213.142 55.9639 214.212 40.9257 220.653C26.2441 226.941 12.6042 238.341 0 254.829C8.59992 221.398 23.4226 196.293 44.4457 179.486C65.7691 162.438 93.5029 153.9 127.67 153.9C159.425 153.9 182.558 161.275 200.889 171.825C219.227 182.378 232.772 196.117 245.35 208.881Z"/>
      </svg>
      <span class="ml-2 font-bold">Tailwind Theme</span>
    </a>

    {{ page.footer }}
  </div>

</footer>
