<header class="flex flex-col" role="banner">
  {% if logged_in %}
    <div class="container mx-auto flex justify-end">
      <div class="transform translate-x-4">
        {{ page.user_navigation }}
      </div>
    </div>
  {% endif %}
  <div class="bg-gray-100 py-4 w-full">
    <div class="container mx-auto">
      <div class="flex justify-between items-center">
        <div class="w-auto flex flex-shrink-0">
          {{ page.branding }}
        </div>
        <div class="flex flex-1">
          {{ page.main_navigation }}
        </div>
      </div>
    </div>
  </div>
</header>
