{#
/**
 * @file
 * Theme override to display a header template.
 *
#}
<header class="c-header" role="banner">
  <div class="o-wrapper">
    <div class="o-layout o-layout--grid o-layout--lock-bottom-right">
      <div class="o-layout__item u-4">
        {{ page.branding }}
      </div>
      <div class="o-layout__item u-8">
        {{ page.header }}
      </div>
    </div>
  </div>
</header>
