<header class="flex bg-gray-200 py-2 lg:py-3" role="banner">
  <div class="container mx-auto">
    <div class="flex justify-between items-center">
      <div class="w-auto flex flex-shrink-0">
        {{ page.branding }}
      </div>
      <div class="flex flex-1 transform translate-x-4">
        {{ page.header }}
      </div>
    </div>
  </div>
</header>
