{#
/**
 * @file
 * Theme override to display a header template.
 *
#}
<header class="flex" role="banner">
  <div class="o-wrapper">
    <div class="flex justify-between items-center">
      <div class="w-auto flex flex-shrink-0">
        {{ page.branding }}
      </div>
      <div class="flex flex-1">
        {{ page.header }}
      </div>
    </div>
  </div>
</header>
