<main class="flex flex-grow" role="main">
  {# link is in html.html.twig #}
  <a id="main-content" tabindex="-1"></a>
  <div class="w-full{% if main_classes %} {{ main_classes }}{% endif %}">
    {{ page.content }}
  </div>
</main>
