{#
/**
 * @file
 * Theme override to display a main content template.
 *
#}
<main class="flex flex-grow mt-8 mb-12 md:mt-12 md:mb-16 lg:mt-16 lg:mb-20" role="main">
  <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
  <div class="o-wrapper">
    {{ page.content }}
  </div>
</main>
