<main class="flex flex-grow mt-8 mb-12 md:mt-12 md:mb-16 lg:mt-16 lg:mb-20" role="main">
  {# link is in html.html.twig #}
  <a id="main-content" tabindex="-1"></a>
  <div>
    {{ page.content }}
  </div>
</main>
