{% if breadcrumb %}
  <nav class="bg-gray-100" role="navigation" aria-labelledby="system-breadcrumb">
    <h2 id="system-breadcrumb" class="sr-only">{{ 'Breadcrumb'|t }}</h2>
    <div class="o-wrapper">
      <ol class="list-style-none -mx-4">
        {% for item in breadcrumb %}
          <li class="inline-block">
            {% if item.url %}
              <a class="cblock p-4" href="{{ item.url }}">{{ item.text }}</a>
            {% else %}
              {{ item.text }}
            {% endif %}
          </li>
        {% endfor %}
      </ol>
    </div>
  </nav>
{% endif %}
