{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
  <nav role="navigation" aria-labelledby="system-breadcrumb">
    <h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
    <div class="o-wrapper">
      <ol class="o-list-inline c-breadcrumb">
        {% for item in breadcrumb %}
          <li class="o-list-inline__item c-breadcrumb__item">
            {% if item.url %}
              <a class="c-breadcrumb__link" href="{{ item.url }}">{{ item.text }}</a>
            {% else %}
              {{ item.text }}
            {% endif %}
          </li>
        {% endfor %}
      </ol>
    </div>
  </nav>
{% endif %}
