{% set block_classes = [
    'bg-transparent',
    logged_in ? 'mt-0 p-0 mb-6' : 'mt-6 first:mt-0',
  ]
%}

<div{{ attributes.addClass(block_classes) }}>
  {{ title_prefix }}
  {% block content %}
    {{ content }}
  {% endblock %}
  {{ title_suffix }}
</div>
