{%
  set title_classes = [
    label_display == 'visually_hidden' ? 'sr-only',
  ]
%}

<div class="prose prose-xl bg-transparent">
  {{ title_prefix }}
  {{ title_suffix }}
  {% for item in items %}
    {{ item.content }}
  {% endfor %}
</div>
