{#
/**
 * @file
 * Theme override for a field.
 *
 * @see template_preprocess_field()
 */
#}
{%
  set title_classes = [
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

<div class="c-content">
  {% if label_hidden %}
    {% if multiple %}
      {% for item in items %}
        {{ item.content }}
      {% endfor %}
    {% else %}
      {% for item in items %}
        {{ item.content }}
      {% endfor %}
    {% endif %}
  {% else %}
    {{ item.content }}
  {% endif %}
</div>
