{%
  set title_classes = [
    label_display == 'visually_hidden' ? 'sr-only',
  ]
%}

<div class="prose md:prose-md lg:prose-lg xl:prose-xl">
  {% for item in items %}
    {{ item.content }}
  {% endfor %}
</div>
