{%
  set title_classes = [
    label_display == 'visually_hidden' ? 'sr-only',
  ]
%}

<div class="prose md:prose-md lg:prose-lg xl:prose-xl">
  {% if not label_hidden %}
    <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
  {% endif %}
  {% for item in items %}
    {{ item.content }}
  {% endfor %}
</div>
