/** ---------------------------------------------------------------------------- (80)
 * Project base styles.
 * ----------------------------------------------------------------------------
 */

a {
  @apply underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  width: 100%;
}
